{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, repellat, vel? Accusamus adipisci aut commodi consequatur culpa earum itaque molestias neque nesciunt non, perspiciatis possimus quas quod similique soluta veritatis?</p>
        <a href="{% url 'about' %}" class="btn btn-warning">go to about us</a>

    </div>

{% endblock %}